<main class="main">
  <!-- First TextBox -->
  <section class="main_textbox textbox">
    <h2 class="textbox_title title">we’re here to help</h2>
    <p class="textbox_text text">
      When it comes to caring for our most intimate areas, we’ve lost our
      connection.
    </p>
    <p class="textbox_text text">
      Embarrassed, unwilling, or unable to communicate with others, we’re
      needlessly neglecting the parts of our bodies that need it most.
    </p>
    <p class="textbox_text text no-padding">
      We’re here to help. Providing you with the expertise, knowledge and
      products you need to feel confident in your personal care.
    </p>
  </section>

  <!-- 3 Ps Image -->
  <section class="main_icons">
    <img
      class="main_icons_img"
      src="@/assets/img/icons@2x.png"
      alt="Promote, Preserve and Protect"
    />
  </section>

  <!-- Second TextBox -->
  <section class="main_textbox textbox textbox-lg">
    <h2 class="textbox_title title">
      whatever your age. whatever your lifestyle. whatever your interests.
    </h2>
    <p class="textbox_text text">
      Co-created with gynaecologists, our revolutionary products have been
      expertly developed to support your intimate microbiome and pH balance, and
      strengthen overall natural health.
    </p>
    <p class="textbox_text text no-padding">
      As the experts in intimate hygiene, we want to bring discussion about
      intimate wellness care out of the dark and demystify the taboos that
      surround it.
    </p>
  </section>

  <!-- Our products -->
  <section class="main_products products slide">
    <h2 class="title">our products</h2>
    <div class="products_cards">
      <product-card
        class="product-card"
        filename="product-wellness.png"
        button_color="#389CD6"
        text="intibiome wellness daily intimate wash"
        button_text="wellness"
      />
      <product-card
        class="product-card"
        filename="product-active.png"
        button_color="#309D5F"
        text="intibiome active extra protection intimate wash"
        button_text="active"
      />
      <product-card
        class="product-card"
        filename="product-agecare.png"
        button_color="#EE6381"
        text="intibiome agecare dryness relief intimate wash"
        button_text="agecare"
      />
    </div>
    <!-- Slide/Cards -->
  </section>

  <!-- Banner -->
  <section class="main_banner">
    <img
      class="banner_desktop"
      src="@/assets/img/Banner02@2x.png"
      alt="Cares for intimate microbiome to help strengthen natural intimate defence"
    />
    <img
      class="banner_mobile"
      src="@/assets/img/Banner02-mob@2x.png"
      alt="Cares for intimate microbiome to help strengthen natural intimate defence"
    />
  </section>

  <!-- Blog -->
  <section class="main_blog blog slide">
    <h2 class="title">keep up to date with our discoveries</h2>
    <!-- Slide/Cards -->
    <div class="blog_cards">
      <blog-card
        class="blog-card"
        filename="blog1.png"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      />
      <blog-card
        class="blog-card"
        filename="blog2.png"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      />
      <blog-card
        class="blog-card"
        filename="blog3.png"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      />
    </div>
    <!-- Button -->
    <a class="blog_button" href="#"> see more </a>
  </section>
</main>
