<footer class="main_footer footer">
    <nav class="footer_menu">
        <ul class="footer_menu_links">
            <li class="footer_menu_link">
                <a href="#"> contact us </a>
            </li>
            <li class="footer_menu_link">
                <a href="#"> faq </a>
            </li>
            <li class="footer_menu_link">
                <a href="#"> site map </a>
            </li>
            <li class="footer_menu_link">
                <a href="#"> privacy policy </a>
            </li>
            <li class="footer_menu_link">
                <a href="#"> cookies policy </a>
            </li>
            <li class="footer_menu_link">
                <a href="#"> legal notice </a>
            </li>
        </ul>
    </nav>
    <div class="footer_social social">
        <a class="social_ulabs" href="#">
            <img src="@/assets/img/footer-logo@2x.png" alt="Developed by U-labs">
        </a>
        <a class="social_instagram" href="#">
            <img src="@/assets/img/ic.instagram.svg" alt="Link to instagram">
        </a>
    </div>
</footer>